.App {

	background-color: #fff;

}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40px;
}

.App-header {
  /* background-color: #222; */
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.MainBody{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.User-List{
  border-right:1px solid grey;
}
/* .App-intro{
  flex-basis: 70%;
} */

li{
  text-decoration: none;
}

#root{
	background: url("./Langara.jpg");
	background-size: cover;
}


